body {
    background-color: #B2DFDB;
    font-family: 'Gloria Hallelujah';
}
.centerContainer{

        width: 400px;
        /* border: 2px solid red; */
        margin: 0 auto;
    
}
.gameName {
    width: 100%;
    height: 72%;
    text-align: center;
    padding-top: 33%;
    color: #FCE4EC;
    font-size: 41px;
}

.dot {
    height: 300px;
    width: 300px;
    background-color: #C2185B;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13%;
    margin-top: 5%;
}
  
.square2 {

        background-color: #F48FB1;
        height: 50px;
        width: 193px;
        margin-bottom: 2%;
        border-radius: 5%;
        margin-top: 20px;
}

.square3 {
    background-color: #F48FB1;
    height: 68px;
    width: 193px;
    margin-left: 19%;
    margin-bottom: 2%;
    border-radius: 5%;
    margin-top: 10px;
}




.userName {
    padding-top: -10px;
    margin: auto;
    margin-left: 7px;
    width: 147px;
    margin-top: 11px;
    background-color: #FCE4EC;
    font-family: 'Gloria Hallelujah';
    height: 0px;
}


.userName2 {

        padding-top: -10px;
        margin: auto;
        padding: 14px;
        margin-left: 7px;
        width: 147px;
        margin-top: 11px;
        background-color: #FCE4EC;
        color: #00695C;
        font-family: 'Gloria Hallelujah';
        height: 0px;
    
}

input {
       
        padding: 14px;
       
    }

.dot2 {
    height: 112px;
    width: 112px;
    background-color: #FCE4EC;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 35px;
    font-size: x-large;
   
}
a {
color: #00695C;
text-decoration: none;
font-family: 'Gloria Hallelujah';
font-size: xx-large;
}

.allinput {
    margin-left: 60px;
}